---
Language: Cpp
# Allman stilini (parantez alt satıra) doğrudan aktif eder
BreakBeforeBraces: Allman

# Girinti (Indent) ayarları
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Sıkıştırmaları tamamen kapat (Tek satıra indirmeyi engeller)
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortStructsOnASingleLine: false

# Matrislerin bozulmaması için sınır
ColumnLimit: 100
---